body{
    font-family: Roboto, Arial;
    margin: 0;
    padding: 80px 24px 200px 96px;

    background-color: rgb(247, 247, 247);
}

@media (min-width:1200.1px){
    body{
        margin-left: 180px;
    }
}

p{
    margin-top: 0;
    margin-bottom: 0;
}